header {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: "Raleway", serif;
    background-color: grey;
    /* background-image: url("images/textbox1.png"); */
    /* background-image: url("./images/background2.png");
    background-size: 100%; */
}

h1 {
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 20px;
}

main {
    text-align: center;
}

figure {
    text-align: center;
    color: white;
}

/* By default, we need to override the formatting of anchor tags to prevent them from showing up blue by default */
a {
    color: whitesmoke
}

nav {
    /* background-color: grey;
    opacity: 0.5; */
    /* The above is commented out because opacity is inherited by all nav children */
    background-color: rgba(0, 0, 255, 0.5)
}

img {
    height: 700px;
    opacity: 0.95;
}

.description {
    /* background-image: url("images/textbox2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    border: 5px solid white;
    border-radius: 15px;
    /* height: 800px;
    width: 800px; */
    color: white;
    padding: 10px;
    font-size: medium;
}

li {
    color: white
}

.nav-bar li {
    display: inline-block;
    padding: 0 8em;
    border: 2px solid black;
}
